@model VINATECH.Models.Category
@{
    ViewData["Title"] = "Chi tiết danh mục";
}

<h2>@ViewData["Title"]</h2>

<div>
    <h4>@Model.Name</h4>
</div>

<p>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Sửa</a>
    <a asp-action="Index" class="btn btn-secondary">Quay lại</a>
</p>
